<main class="login">
  <div class="login-container">
    <div class="login-form">
      <form #form="ngForm">
        <h3>Sign In</h3>
        <div class="input-group">
          <input
            type="text"
            required
            name="username"
            ngModel
            placeholder="Username"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <input
            type="password"
            required
            name="password"
            ngModel
            placeholder="Password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button [disabled]="form.invalid" (click)="login(form)" class="btn custom-btn-primary">Sign In</button>
        </div>
      </form>
    </div>

    <div class="welcome-message">
      <h3>Welcome Back!</h3>
      <p>Sign in to access the JSON converter features</p>
    </div>
  </div>


  <div *ngIf="errorMessage" class="alert alert-danger d-flex align-items-center gap-1" role="alert">
    <i class='bx bx-error bx-sm'></i> {{errorMessage}}
  </div>
</main>
