/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Poppins-bold;
  src: url(/src/assets/fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: Poppins-medium;
  src: url(/src/assets/fonts/Poppins/Poppins-Medium.ttf);
}
@import './assets/styles/overrides.scss';

body {
  font-family: "Poppins", sans-serif;
  font-family: Poppins-medium, sans-serif;
}
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
